<!DOCTYPE html>
<html>
<head>
    <title>Iris ONNX Prediction</title>
</head>
<body>
    <h2>Iris Flower Classifier</h2>
    <form action="/predict" method="post">
        <label>Sepal Length:</label><br>
        <input type="text" name="swidth"><br>
        <label>Sepal Width:</label><br>
        <input type="text" name="sheight"><br>
        <label>Petal Length:</label><br>
        <input type="text" name="pwidth"><br>
        <label>Petal Width:</label><br>
        <input type="text" name="pheight"><br><br>
        <input type="submit" value="Predict">
    </form>

    {% if data %}
        <h3>Predicted Flower Type: {{ data }}</h3>
    {% endif %}
</body>
</html>
